
.top-nav-bar  .top-primary-nav{
    background-color: rgba(128, 128, 128, 0.089);
}
.top-nav-bar .top-secondary-nav ul {
   list-style-type: none;
}

.top-nav-bar .top-secondary-nav a {
    text-decoration: none;
 }
 
 .footer ul li a:hover{
    border-bottom: 1px solid grey;

 } 
 .footer ul li{
    list-style-type: none;
 } 
 .footer ul li a{
text-decoration: none;
color: grey;
 }